.card {
    width: 350px;
    height: 450px;
    padding: 0.5rem;
    background-color: lightcyan;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.image {
    width: 70%;
}